@{
    //Sets webpage title
    ViewData["Title"] = "Podcast Info";
}


@*Podcast page, contains link to podcast website*@
<h1>Check out my podcast!</h1>

<div>
    <a href = "https://baconsale.com/">Baconsale Podcast</a>
</div>