@{
    //Sets webpage title
    ViewData["Title"] = "Podcast Info";
}


@*Podcast page, contains link to podcast website*@
<h1 class="text-center">Check out my podcast!</h1>

<div class=" = text-center">
    <a href = "https://baconsale.com/">Baconsale Podcast</a>
</div>